<%= form_for(@diary_entry) do |f| %>
<fieldset>
  <% if @diary_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diary_entry.errors.count, "error") %> prohibited this diary_entry from being saved:</h2>



      <ul>
      <% @diary_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class = "controls">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class = "controls">
    <%= f.text_field :description, :class => 'text_field' %>
  </div>
  </div>


  <div class="field">
    <%= f.label :mood %><br />
    <select>
  <option>Happy</option>
  <option>Sad</option>
  <option>Angry</option>
  <option>Tired</option>
</select>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
  </fieldset>
<% end %>
